
<div
        class="panel panel-default">
        <div class="panel-heading">{{ element.name }}</div>


        <!-- to use for ngOnChanges -->
        <div class="panel-heading" #heading>{{ name }}</div>

        <div class="panel-body">
          <p>
           <ng-content></ng-content>
           <!-- ng content acts as a hook to an thml page -->
<!-- The ng-content tag is used for content projection. It is basically a placeholder to hold the dynamic content until it is parsed. Once the template is parsed, Angular replaces the tag with content -->
          </p>
        </div>
      </div>










