<form (ngSubmit)="onregister(registrationForm)" #registrationForm="ngForm">
  <div>
    <label for="username">Username:</label>
    <input type="text" 
    
    id="username"
     name="username" 
     required
     ngModel
      [(ngModel)]="user.username">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email"
     id="email" 
     name="email"
      required
      ngModel
       [(ngModel)]="user.email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" 
    id="password"
     name="password" 
     required 
     minlength="5"
     #usernameInput = 'ngModel'
     ngModel
     [(ngModel)]="user.password">
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" 
    id="confirmPassword"
     name="confirmPassword"
      required 
      ngModel
      [(ngModel)]="user.confirmPassword">
  </div>
  <button type="submit" [disabled]="!registrationForm.form.valid"  class="btn btn-info" >Register</button>
</form>
