<div class="container">
    <app-cockpit
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element
                *ngFor="let serverElement of serverElements"
                [srvElement]="serverElement"
                ></app-server-element>
        </div>
    </div>
</div>
<!-- Encapsulation is a process in ehich we can take an example that View encapsulation defines whether the template and styles defined within the component can affect the whole application or vice versa. Angular provides three encapsulation strategies: Emulated (default) - styles from main HTML propagate to the component.  -->
