.container {
  margin-top: 30px;
  padding:30px 40px;
}

p {
  color: rgb(7, 44, 252);
}
label{
  background-color: #00f815;

}
label:hover{
  background-color: #002fff;
}

button{
  background-color: rgb(247, 15, 208);
}
button:hover{
background-color: #fd1212;
}
