
<h1>Tasks List</h1>

<div class="container">
    <div class="row">
        <div class="col-cs-12">
            <ul class="list-group" >
                <li class="group-list-item" *ngFor="let task of tasks">{{task.name}}
                <span *ngIf="task.completed">Completed</span>
                </li>
            </ul>
        </div>
    </div>
</div>
















<!-- 
Highlight Directive:
Create a directive called "HighlightDirective" that applies a background color to an element when it is clicked. When the element is clicked again, remove the background color. Apply the directive to a button or any other element of your choice.

Input Validation Directive:
Build a directive called "InputValidationDirective" that validates user input in an input field. Implement a rule that checks if the input contains only numbers. If the input is invalid, apply a red border to the input field; otherwise, remove the border. Apply the directive to an input field.

Image Preloader Directive:
Create a directive called "ImagePreloaderDirective" that preloads images when they are added to the DOM. Implement a functionality that displays a loading spinner until the image is fully loaded. Apply the directive to an image tag.

Auto Focus Directive:
Build a directive called "AutoFocusDirective" that automatically focuses an input field when the page is loaded. Apply the directive to an input field.

Scroll Animation Directive:
Create a directive called "ScrollAnimationDirective" that animates an element when it comes into view during scrolling. Implement a fade-in animation effect when the element is visible on the screen. Apply the directive to a div or any other element of your choice -->